body {
	color: black;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Verdana, Serif;
	text-align: center;
}

.conteudoPanel {
	background: #fff0;
}

.footer {
   background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
}

.header {
   background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
}