<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h3>Feito por Anderson Santo</h3>
<h:outputLink value="http://kalangoti.com" target="_blank">www.kalangoti.com</h:outputLink>

</ui:composition>