<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<h:outputStylesheet name="geral.css" library="css" />
	<title>#{labels['titulo.aplicacao']}</title>
</h:head>

<h:body>
	<ui:debug hotkey="K" />
	<pe:layout id="fullPage" stateCookie="true" widgetVar="fpLayoutWidget">
		<pe:layoutPane position="north"
			styleClassContent="conteudoPanel header">
			<ui:include src="header.xhtml" />
		</pe:layoutPane>

		<pe:layoutPane position="west" styleClassContent="conteudoPanel">
			<ui:include src="panelLeft.xhtml" />
		</pe:layoutPane>

		<pe:layoutPane position="center" styleClassContent="conteudoPanel">
			<ui:insert name="centerContent">
                Parte Central - Aonde vai a pagina xhtml a ser inserida
            </ui:insert>
		</pe:layoutPane>

		<pe:layoutPane position="south"
			styleClassContent="conteudoPanel footer">
			<ui:include src="footer.xhtml" />
		</pe:layoutPane>
	</pe:layout>
</h:body>
</html>