<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h3 style="margin-top: 0">Menu</h3>
		<p:menu>
			<p:menuitem value="Home" url="home.jsf" icon="fa fa-home" />
			<p:menuitem value="Enviar e-mail" url="enviar.jsf" icon="fa fa-send">
			</p:menuitem>
			<p:menuitem value="Listar por Assunto" url="listarAssunto.jsf"
				icon="fa fa-list-ul" />
			<p:menuitem value="Listar por Destinatário" url="listarDestinatario.jsf"
				icon="fa fa-list-ul" />
		</p:menu>
	</h:form>

</ui:composition>