<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centerContent">
		<h3>Enviar e-mail</h3>
		<br />
		<div align="center">
			<h:form>
					<p:messages id="messages" />
					<h:panelGrid columns="3" cellpadding="5">
						<p:outputLabel for="@next" value="Destinatários:" />
						<p:inputText id="destinatario" size="150" title="No fim de cada e-mail coloque ;" value="#{enviarMB.destinatarios}" required="true" />
						<p:tooltip id="toolTipDestinatarios" for="destinatario" showEvent="focus" position="top" hideEvent="blur" />

						<p:outputLabel for="@next" value="Assunto:" />
						<p:inputText id="assunto" size="150" value="#{enviarMB.emailModel.assunto}" required="true" />
						<p:outputLabel value="" />

						<p:outputLabel for="@next" value="Mensagem:" />
						<p:inputTextarea rows="10" cols="152" value="#{enviarMB.emailModel.conteudoMensagem}" required="true" />
						<p:outputLabel value="" />

						<p:outputLabel value="" />
						<p:commandButton value="Enviar" update="messages" action="#{enviarMB.enviarEmail}" ajax="false" />
					</h:panelGrid>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
