<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centerContent">
		<h3>Listar e-mails enviados para um determinado destinatário</h3>
		<br />
		<div align="center">
			<h:form>
				<p:messages id="messages" />
				<h:panelGrid columns="2" cellpadding="5">
					<p:outputLabel for="@next" value="Destinatário:" />
					<p:inputText id="textoBusca" size="150"
						value="#{listarMB.textoBusca}" required="true" />

					<p:outputLabel value="" />
					<p:commandButton value="Listar" update="messages"
						action="#{listarMB.buscarEmailPorDestinatario}" ajax="false" />
				</h:panelGrid>

				<p:repeat value="#{listarMB.lista}" var="emailModel">
					<h:panelGrid columns="2" style="width:100%">
						<p:outputLabel value="" />

						<p:outputPanel>
							<h:panelGrid columns="2" cellpadding="5">
								<h:outputText value="Destinatário:" />
								<h:outputText value="#{emailModel.destinatario}"
									style="font-weight: bold" />

								<h:outputText value="Assunto:" />
								<h:outputText value="#{emailModel.assunto}"
									style="font-weight: bold" />

								<h:outputText value="Mensagem:" />
								<h:outputText value="#{emailModel.conteudoMensagem}"
									style="font-weight: bold" />
							</h:panelGrid>
						</p:outputPanel>
					</h:panelGrid>
					<hr />
				</p:repeat>
			</h:form>
		</div>
	</ui:define>

</ui:composition>
